.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.checkoutProduct:hover{
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.checkoutProduct__info{
    padding-left: 20px;
    transition: transform 100ms ease-in;
}

.checkoutProduct__info:hover{
    transform: scale(1.07);
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border : 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
    transition: transform 100ms ease-in;
}
.checkoutProduct__image:hover {
    transform: scale(1.10);
}

.checkoutProduct__rating{
    display: flex;
}

